// Widescreens
@include mediaXL {
        .menuContainer {
                grid-template-columns: repeat(6, 1fr);
        }
        .menuList,
        .About  {
                padding: 10rem 15rem;
        }
        .About {
                padding-bottom: 50vh;
        }
}
