// Widescreens
@include mediaXL {
  .menuContainer {
    grid-template-columns: repeat(6, 1fr);
  }
  .menuList,
  .About,
  .Contact {
    padding: 10rem 15rem;
  }
  .About,
  .Contact {
    padding-bottom: 50vh;
  }
}
