@import "config";
$Lora: "'Lora', serif'";

.switch-wrapper {
}

.switch-wrapper > div {
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

@mixin easeOut {
  transition: 0.5s ease-out;
}

.textSecondary {
  color: orange;
}

.App {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
  div {
    width: 100%;
  }
  a,
  a:active,
  a:focus {
    outline: none;
  }
}

@keyframes omega-pulse {
  0% {
    filter: drop-shadow(0 0 5px orange);
  }
  50% {
    filter: drop-shadow(0 0 15px orange);
  }
  100% {
    filter: drop-shadow(0 0 5px orange);
  }
}

//User Header
.userHeader {
  background: transparent;
  color: white;
  position: absolute;
  z-index: 13;
  top: 0;
  left: 0;
  right: 0;
  height: 0rem;
  padding: 5px;
  padding-left: 15px;
  line-height: 2rem;
  font-size: 1rem;
}
//Navigation Bar
.navBar {
  background: #121212;
  color: white;
  height: 3rem;
  padding: 1.5rem 0;
  border-bottom: orange 3px solid;
  box-shadow: 0 0 20px orange;
  justify-content: center;
  font-size: 1.5rem;
  position: absolute;
  z-index: 11;
  a {
    color: white;
    text-decoration: none;
  }
  // list formatting
  .navList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
    .NavLinkActive {
      text-shadow: 0 0 5px orange;
      color: orange;
    }
    .roundCut {
      background: #121212;
      position: relative;
      top: 4.5rem;
      z-index: 999;
      width: 250px;
      height: 125px;
      padding: 5px 0;
      border-bottom-left-radius: 250px;
      border-bottom-right-radius: 250px;
      border: 3px solid orange;
      border-top: 0;
      box-shadow: 0 3px 3px rgba(orange, 0.5);
      box-sizing: border-box;
      .logoSVG {
        z-index: 999;
      }
    }
    svg {
      transform: translate3d(0, -50%, 0);
      width: 100%;
      height: 200%;
      filter: drop-shadow(0 0 5px orange);
      @include easeOut;
      animation: omega-pulse 2s infinite;
      &:after {
        position: absolute;
        z-index: 999;
      }
    }
    li {
      list-style: none;
      text-decoration: none;
      padding: 5px 5px;
      line-height: 2.5;
      height: 1rem;
      position: relative;
      box-sizing: border-box;
      @include easeOut;
      &:nth-child(1) {
        padding-right: 4rem;
      }
      &:nth-child(2) {
        padding-right: 4rem;
      }
      &:nth-child(4) {
        padding-left: 4rem;
      }
      &:nth-child(5) {
        padding-left: 4rem;
      }
      a {
        @include easeOut;
        &:hover {
          color: orange;
          text-shadow: 0 0 5px orange;
        }
      }
    }
  }
}

//Menu Display
.menuList,
.About,
.Contact {
  background: darken(#ebdbb2, 5);
  @include easeOut;
  background-image: 
    /* top, transparent red */ linear-gradient(
      rgba(0, 0, 0, 0.98),
      rgba(0, 0, 0, 0.98)
    ),
    /* your image */ url(/img/bg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 10rem 6rem;
  z-index: 9999;
  position: relative;
  top: 100vh;
  border-top: #ebdbb2 3px solid;
  box-sizing: border-box;
  .menuTitle {
    background: black;
    position: absolute;
    z-index: 9999;
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: #ebdbb2 3px solid;
    padding: 0 5rem;
    color: #ebdbb2;
    text-shadow: 0 0 5px #ebdbb2;
    line-height: 5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px #ebdbb2;
    &.sticky {
      position: fixed;
      top: 0;
    }
    span {
      font-family: "Lora", serif;
      font-size: 28px;
      letter-spacing: 5px;
    }
  }
  button {
    background: rgba(black, 0.4);
    color: #ebdbb2;
    width: 26%;
    padding: 0.5rem;
    height: 100%;
    border: #ebdbb2 1px solid;
    font-family: "Lora", serif;
    font-size: 14px;
    margin-right: 10px;
  }
}

// container for search filter
.searchContainer {
  display: flex;
  flex-flow: row nowrap;
  .searchingFor {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: orange 3px solid;
    font-size: 28px;
    &::placeholder {
      color: white;
      opacity: 1;
    }
  }
}

// container for sort list
.sortList {
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  height: 4.5rem;
  padding: 1rem;
  margin-top: 2rem;
  box-sizing: border-box;
  line-height: 2rem;
  button {
    background: #121212;
    width: 25%;
    height: 100%;
    color: white;
    border: orange 1px solid;
    box-shadow: 0 0 5px orange;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
  }
}

// container for header image w/overlay
.mainBanner {
  background: black;
  height: 60vh;
  &:after {
    content: "";
    z-index: 10;
    display: block;
    position: absolute;
    height: 60vh;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  img {
    height: auto;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 9;
    //transform: translate3d(0, -26%, 0);
  }
  .subscribe {
    position: absolute;
    z-index: 9999;
    top: 32vh;
    text-align: center;
    font-size: 28px;
    color: white;
  }
}

// container for menu item grid
.menuContainer {
  background: transparent;
  width: 100%;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  //border: black 2px solid;
  border-top: none;
  box-sizing: border-box;
  margin-bottom: 50vh;
  // container for individual menu items
  .itemContainer {
    //border-radius: 5px;
    width: auto;
    background: #1d2021;
    color: white;
    border: #ebdbb2 1px solid;
    .titleContainer {
      //container for item title
      background: #121212;
      box-sizing: border-box;
      text-align: center;
      font-family: "Lora", serif;
      font-size: 13px;
      color: #ebdbb2;
      border-bottom: #fe8019 1px solid;
      text-decoration: none;
      padding: 5px;
      h3 {
        font-family: "Lora", serif;
      }
    }
    .previewContainer {
      display: block;
      margin: 0;
      padding: 0;
      border: #121212 1px solid;
      box-sizing: border-box;
      box-shadow: 0 0 5px #121212;
      cursor: pointer;
      background-color: white;
      //border-top-left-radius: 5px;
      //border-top-right-radius: 5px;
      //container for image previews
      img {
        width: 100%;
        display: block;
        //border-top-left-radius: 5px;
        //border-top-right-radius: 5px;
      }
      &:hover {
        background-color: black;
        img {
          opacity: 0.6;
          @include easeOut;
        }
      }
    }
    .optionContainer {
      //container for select option
      justify-content: center;
      text-align: center;
      display: block;
      padding: 1rem;
      box-sizing: border-box;
      padding-bottom: 10px;
      @include easeOut;
      select {
        background-color: #121212;
        border: #ebdbb2 1px solid;
        box-shadow: 0 0 2px #ebdbb2;
        width: 100%;
        padding: 5px;
        color: #ebdbb2;
        text-align: center;
        text-align-last: center;
        font-size: 1rem;
        -webkit-appearance: none;
        -mozkit-appearance: none;
        @include easeOut;
        &:hover {
          box-shadow: 0 0 5px #ebdbb2;
          color: #fe8019;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 14px;
          width: 0;
          height: 0;
          border: 5px solid transparent;
        }
      }
    }
    .descriptionContainer {
      //container for item descriptions
      background: #121212;
      //border-bottom-left-radius: 5px;
      //border-bottom-right-radius: 5px;
      text-align: center;
      font-size: 16px;
      color: #ebdbb2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      .addToCart {
        position: relative;
        height: 30px;
        width: 30px;
        margin-left: auto;
        background: #121212;
        color: #ebdbb2;
        text-shadow: 1px 1px 0 darken(#ebdbb2, 40);
        font-weight: 600;
        border: none;
        cursor: pointer;
        border-radius: 0;
        box-shadow: none;
        transform: translate(10px, 0);
        &:hover {
          @include easeOut;
          color: #fe8019;
        }
      }
      .itemPrice {
        text-align: center;
        line-height: 30px;
        letter-spacing: 1px;
        position: absolute;
      }
    }
  }
}

.Copyright {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5vh;
  line-height: 5vh;
  background: white;
  box-sizing: border-box;
  padding: 0 2rem;
  background: darken(#121212, 3);
  border-top: #ebdbb2 1px solid;
  color: grey;
  font-size: 12px;
}

#Footer {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  z-index: 999;
  bottom: 5vh;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: #121212;
  .branding,
  .footerNav {
    padding: 2rem;
    box-sizing: border-box;
    color: white;
  }
  .footerNav {
    color: white;
    h4 {
      color: #ebdbb2;
    }
    li {
      list-style: none;
      padding: 10px;
      svg {
        padding-right: 10px;
      }
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .branding {
    color: lighten(#282828, 20);
    width: 100%;
    .brandTitle {
      margin-bottom: 7rem;
      span {
        font-size: 28px;
        color: #ebdbb2;
      }
    }
    .links {
      padding: 1rem 0;
      display: flex;
      flex-flow: row nowrap;
      a {
        color: white;
        padding-right: 1rem;
      }
      .linksBubble {
        background: #121212;
        height: 2rem;
        width: 2rem;
        padding: 5px;
        border-radius: 100%;
        box-shadow: 0 2px 0 #282828;
        line-height: 2rem;
        svg {
          transform: translate(6px, 0);
          color: #ebdbb2;
        }
        &:hover {
          @include easeOut;
          box-shadow: 0 0 5px #ebdbb2;
        }
      }
    }
  }
  .footerNews {
    color: white;
    padding: 2rem;
    padding-left: 0;
  }
  .textSecondary {
    color: lighten(#282828, 20);
  }
}
// Remove cuck google footer from map
.gm-style-cc {
  display: none;
}

.MyMapComponent {
  border: #ebdbb2 1px solid;
  padding: 5px;
}

.Contact {
  position: relative;
  z-index: 999;
  padding-bottom: 70vh;
  .ContactInfo {
    display: flex;
    flex-flow: row nowrap;
    background: rgba(black, 0.8);
    border: #ebdbb2 1px solid;
    box-shadow: 0 0 5px #ebdbb2;
    box-sizing: border-box;
    padding: 2rem;
    p {
      margin: 10px 0;
    }
    .contactList {
      li {
        list-style: none;
        padding: 0.5rem 0;
      }
    }
    .contactLeft {
      width: 100%;
      padding-right: 2rem;
    }
  }
  .ContactForm {
    display: flex;
    flex-flow: column nowrap;
    background: rgba(black, 0.8);
    border: #ebdbb2 1px solid;
    box-shadow: 0 0 5px #ebdbb2;
    color: white;
    padding: 2rem;
    margin-top: 2rem;
    box-sizing: border-box;
    .formTitle {
      margin-bottom: 15px;
    }
    .names {
      box-sizing: border-box;
      input {
        width: 300px;
        box-sizing: border-box;
        margin: 5px;
        padding: 5px;
        background: transparent;
        &:focus {
          border: #ebdbb2 1px solid;
        }
      }
    }
    .information {
      box-sizing: border-box;
      input {
        width: 300px;
        box-sizing: border-box;
        margin: 5px;
        padding: 5px;
        background: transparent;
        &:focus {
          border: #ebdbb2 1px solid;
        }
      }
    }
    .message {
      box-sizing: border-box;
      margin: 5px;
      margin-bottom: 15px;
      padding: 5px;
      background: transparent;
      &:focus {
        border: #ebdbb2 1px solid;
      }
    }
  }
}

.About {
  position: relative;
  z-index: 999;
  padding-bottom: 70vh;
  .Story {
    margin-top: 5vh;
    background: rgba(black, 0.8);
    border: #ebdbb2 1px solid;
    box-shadow: 0 0 5px #ebdbb2;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    .Segment {
      padding: 4rem;
      box-sizing: border-box;
      .storyImage {
        width: 30%;
        float: left;
        background: #121212;
        padding: 10px;
        border: #ebdbb2 1px solid;
        box-shadow: 0 0 5px #ebdbb2;
        box-sizing: border-box;
        color: grey;
        img {
          width: 100%;
          border: grey 1px solid;
        }
      }
      .storyText {
        float: right;
        width: 60%;
        box-sizing: border-box;
        .vertLine {
          border-bottom: #ebdbb2 1px solid;
        }
        .quoteText {
          font-style: italic;
          margin: 2rem 0;
          width: 90%;
          font-size: 18px;
        }
        p {
          line-height: 2rem;
          margin-top: 15px;
          width: 90%;
        }
      }
      &:nth-child(1) {
        .storyImage {
          float: right;
        }
        .storyText {
          float: left;
        }
      }
      &:nth-child(4) {
        .storyImage {
          float: right;
        }
        .storyText {
          float: left;
        }
      }
    }
  }
}

.Pacifico {
  //font-family: "Pacifico", cursive;
  font-family: "Lora", serif;
  color: #ebdbb2;
  //color: lighten(orange, 15);
  //text-shadow: 0 0 5px orange;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 5px;
}

.PacificoSmall {
  //font-family: "Pacifico", cursive;
  font-family: "Lora", serif;
  color: #ebdbb2;
  //color: lighten(orange, 15);
  //text-shadow: 0 0 5px orange;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 5px;
}

.PacificoPlain {
  font-family: "Pacifico", cursive;
  font-size: 28px;
}

.cartContainer {
  background: darken(#121212, 3);
  color: #ebdbb2;
  position: fixed;
  z-index: 9999;
  height: 100%;
  top: 0;
  right: 0;
  left: 50%;
  border-left: #121212 1px solid;
  padding: 3rem;
  transform: translate3d(50%, 0, 0);
  @include easeOut;
  .cartItemContainer {
    margin-top: 2rem;
    .cartListItem {
      background: rgba(black, 0.4);
      padding: 1rem;
      margin-bottom: 10px;
      border: orange 1px solid;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  button {
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    background: transparent;
    border: #ebdbb2 1px solid;
    cursor: pointer;
  }
  .vertLine {
    border-bottom: #ebdbb2 1px solid;
    margin: 10px 0;
  }
  .cartTotal {
    position: absolute;
    font-size: 20px;
    bottom: 8rem;
  }
}

.showCart {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: -1px;
  width: 100%;
  text-align: right;
  button {
    background: black;
    border: #ebdbb2 1px solid;
    letter-spacing: 2px;
    padding: 1rem;
    color: #ebdbb2;
    cursor: pointer;
  }
}

.cartTotal {
  padding: 2rem 0;
  font-size: 24px;
}

//Home
.Home {
  background: black;
  position: fixed;
  height: 100vh;
  background-image: 
    /* bottom, transparent red */ linear-gradient(
      rgba(0, 0, 0, 0.99),
      rgba(0, 0, 0, 0.9)
    ),
    /* your image */ url(/img/bg2.jpeg);
}

//Navigation Bar
.homeBar {
  color: #ebdbb2;
  height: 3rem;
  justify-content: center;
  font-size: 1.5rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  padding: 1.5rem 0;
  a {
    color: #ebdbb2;
    text-decoration: none;
  }
  // list formatting
  .homeList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: "Lora", serif;
    box-sizing: border-box;
    .homeLink {
      font-family: "Lora", serif;
      font-size: 16px;
      letter-spacing: 3px;
    }
    .NavLinkActive {
      text-shadow: 0 0 5px orange;
      color: orange;
      text-decoration: underline;
    }
    li {
      list-style: none;
      text-decoration: none;
      padding: 5px 5px;
      line-height: 2.5;
      height: 1rem;
      position: relative;
      box-sizing: border-box;
      @include easeOut;
      &:nth-child(1) {
        padding-right: 4rem;
      }
      &:nth-child(2) {
        padding-right: 4rem;
      }
      &:nth-child(4) {
        padding-left: 4rem;
      }
      &:nth-child(5) {
        padding-left: 4rem;
      }
      a {
        @include easeOut;
        &:hover {
          color: orange;
          text-shadow: 0 0 5px orange;
        }
      }
    }
  }
}

.homeBanner {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 25%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  .textContainer {
    color: white;
    height: 100%;
    text-align: left;
    .bigText {
      position: relative;
      top: 5%;
      font-family: "Lora", serif;
      font-size: 6rem;
      color: #ebdbb2;
    }
    .smallText {
      position: relative;
      top: 5%;
      font-family: "Lora", serif;
      font-size: 18px;
      color: #ebdbb2;
      letter-spacing: 3px;
      .highlight {
        color: orange;
        text-shadow: 0 0 5px orange;
      }
    }
  }
  .logoContainer {
    text-align: right;
    svg {
      height: 250px;
      filter: drop-shadow(0 0 5px orange);
      @include easeOut;
      animation: omega-pulse 2s infinite;
    }
  }
  .underline {
    border-bottom: #ebdbb2 1px solid;
    position: relative;
    top: 6%;
  }
  .scrollButton {
    position: relative;
    top: 9%;
    button {
      border: #ebdbb2 1px solid;
      background: transparent;
      color: #ebdbb2;
      font-family: "Lora", serif;
      width: 175px;
      padding: 0.5rem;
      a,
      a:active,
      a:focus {
        outline: 0;
      }
    }
    button::-moz-focus-inner {
      border: 0;
    }
  }
}

.scrollToTop {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        border: #ebdbb2 1px solid;
        background: black;
        padding: 0.5rem ;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

@import "mobile";
